#quick-reply {
  #qr-post-formatting {
    input.btn {
      display: none;
    }

    .formatting-labels {
      display: flex;
      flex-wrap: nowrap;
      gap: 4px;
      padding: 2px 4px 4px;

      label {
        flex: 1;
        font-size: 0.75rem;
        line-height: 1rem;
        text-align: center;
        text-transform: uppercase;
        border: 1px solid;
        border-radius: 2px;
        background-color: white;
        cursor: pointer;
      }
    }
  }
}
